/*Lo de poner en negrita y cursiva las letras no lo hice por css porque el ejercicio decía a través de
etiquetas html  */

/*Estilos de la tabla de horarios*/
.dias {
    font-size: 20px;
}

#lunes {
    color: blue;
}

#martes {
    color: red;
}

#miercoles {
    color: cyan;
}

#jueves {
    color:blueviolet;
}

#viernes {
    color:brown;
}

#sabado {
    color:green;
}

#domingo {
    color:orange;
}

.header {
    background-color: skyblue;
    height: 420px;
    
}
#tituloCampus {
    margin-top: 0px;
    padding-top: 0px;
}

.footer {
    background-color: rgb(27, 39, 44);
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 3px;
    padding-bottom: 0px;
    height: 50px;
}

.footer p {
    color: white;
}

html, body {
    margin: 0; padding: 0;
}

form {
    border: 3px dotted black;
    padding: 3px;
}